@model AdminProductViewModel

<div>
    <form action="/Admin" method="post">
        <label>Добрый день!Введите параметры товара!</label>
        <p>
            <label>Название</label>
            <input name="ProductName" type="text" value="@Model.ProductName" />
        </p>
        <p>
            <label>Цена</label>
            <input name="ProductPrice" type="text" value="@Model.ProductPrice" />
        </p>
        <p>
            <label>Категория</label>
            <input name="ProductCategory" type="text" value="@Model.ProductCategory" />
        </p>
        <p>
            <label>Фото</label>
            <input name="ProductPhoto" type="text" value="@Model.ProductPhoto" />
        </p>
        <p>
            <label>Количество</label>
            <input name="ProductCount" type="text" value="@Model.ProductCount" />
        </p>
        <input name="DeleteProduct" type="checkbox" value="@Model.DeleteProduct"/>
        <button>Внести изменения</button>
    </form>
</div>